<head>
    <title>Test Authorize.net Pay</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
    .padding {
        padding: 5rem !important;
    }

    .form-control:focus {
        box-shadow: 10px 0px 0px 0px #ffffff !important;
        border-color: #4ca746;
    }

    .loader {
        border: 8px solid #f3f3f3;
        border-top: 8px solid #3498db;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 1s linear infinite;
        display: none; /* Initially hidden */
        margin: 0 auto;
        margin-top: 20px;
    }

    @@keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

</style>
<body>
    <div class="padding">
        <div class="row">
            <div class="container-fluid d-flex justify-content-center">
                <div class="col-sm-8 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-6">
                                    <span>CREDIT/DEBIT CARD PAYMENT</span>
                                </div>
                                <div class="col-md-6 text-right" style="margin-top: -5px;">
                                    <img src="https://img.icons8.com/color/36/000000/visa.png">
                                    <img src="https://img.icons8.com/color/36/000000/mastercard.png">
                                    <img src="https://img.icons8.com/color/36/000000/amex.png">
                                </div>
                            </div>
                        </div>
                        <div class="card-body" style="height: 350px">
                            <div class="form-group">
                                <label for="cc-number" class="control-label">CARD NUMBER</label>
                                <input id="cc-number" type="number" class="input-lg form-control cc-number" autocomplete="cc-number" placeholder="Enter card number" maxlength="19" required>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cc-exp" class="control-label">CARD EXPIRY</label>
                                        <input id="cc-exp" type="tel" class="input-lg form-control cc-exp" autocomplete="cc-exp" placeholder="MM / YY" oninput="formatExpiryDate(this)" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cc-cvc" class="control-label">CARD CVC</label>
                                        <input id="cc-cvc" type="number" class="input-lg form-control cc-cvc" autocomplete="off" placeholder="Enter CVC (Optional)" maxlength="4">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="amount" class="control-label">AMOUNT (USD)</label>
                                <input type="number" id="amount" class="input-lg form-control" placeholder="Enter amount" required>
                            </div>
                            <div class="form-group">
                                <input value="MAKE PAYMENT" type="button" class="btn btn-success btn-lg form-control" style="font-size: .8rem;" onclick="Pay()">
                            </div>
                            <div class="loader" id="loader"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    function Pay() {
        var cardNum = $('#cc-number').val();
        var cardExp = $('#cc-exp').val();
        var amount = $('#amount').val();

        if (!cardNum || !cardExp || !amount) {
            highlightEmptyFields();
            alert('Please fill in all the required fields.');
            return;
        }
        $('#loader').show();
        var data = {
            cardNumber: cardNum,
            expirationDate: cardExp,
            amount: amount
        };

        $.ajax({
            url: '@Url.Action("ProcessPayment", "Home")',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data),
            success: function (result) {
                $('#loader').hide();
                if (result.Status == "01") {
                    alert(result.Message);
                } else {
                    console.log(result.Message);
                    alert("Payment failed");
                }
            },
            error: function (xhr, status, error) {
                $('#loader').hide();
                console.error(error);
            }
        });
    }

    function highlightEmptyFields() {
        $('input[required]').each(function () {
            if ($(this).val() === "") {
                $(this).css('border-color', 'red');
            } else {
                $(this).css('border-color', '#4ca746');
            }
        });
    }

    function formatExpiryDate(input) {
        var value = input.value.replace(/\D/g, '');
        if (value.length > 4) {
            value = value.slice(0, 4);
        }
        if (value.length > 2) {
            input.value = value.slice(0, 2) + ' / ' + value.slice(2);
        } else {
            input.value = value;
        }
    }

</script>
